.kmf-file-input {
position:relative;
/*height:38px;*/
line-height:38px;
margin-bottom:9px;
}

.kmf-file-input input[type=file] {
opacity:0;
width:100%;
/*height:30px;*/
position: fixed;
z-index:1\0/;
filter:alpha(opacity=0);
cursor:pointer\0/;
}

.kmf-file-input label.selected+.remove{
	display:inline-block;
}

.kmf-file-input label.hide-plkmfholder:before{
	display:none;
}

.kmf-file-input label {
display:block;
position:absolute;
top:0;
left:0;
right:0;
height:28px;
background-color:#fff;
border:1px solid #d5d5d5;
cursor:pointer;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
-webkit-transition:all .15s;
-moz-transition:all .15s;
-o-transition:all .15s;
transition:all .15s;
}

.kmf-file-input label:hover {
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
border-color:#f59942;
}

.kmf-file-input label:before {
display:inline-block;
content:attr(data-title);
position:absolute;
right:0;
top:0;
bottom:0;
line-height:24px;
text-align:center;
background-color:#6fb3e0;
color:#FFF;
font-size:11px;
font-weight:700;
border:2px solid #FFF;
border-left-width:4px;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
padding:0 8px;
}

.kmf-file-input label span {
display:inline-block;
height:28px;
max-width:80%;
white-spkmf:nowrap;
overflow:hidden;
line-height:28px;
color:#888;
font-size:13px;
position:static;
padding-left:30px;
}

.kmf-file-input label span:after {
display:inline-block;
content:attr(data-title);
}

.kmf-file-input label.selected {
right:16px;
}

.kmf-file-input label.selected span {
color:#666;
}

.kmf-file-input label [class*="fa-"] {
display:inline-block;
position:absolute;
left:0;
top:0;
bottom:0;
line-height:22px;
width:22px;
text-align:center;
font-family:FontAwesome;
font-size:13px;
border:2px solid #FFF;
color:#FFF;
-webkit-transition:all .1s;
-moz-transition:all .1s;
-o-transition:all .1s;
transition:all .1s;
background-color:#d1d1d1;
}

.kmf-file-input label.selected .fa-picture {
background-color:#bd7a9d;
}

.kmf-file-input label.selected .fa-music {
background-color:#8b7ac9;
}

.kmf-file-input .remove {
position:absolute;
right:-8px;
top:6px;
display:none;
width:21px;
text-align:center;
height:21px;
line-height:15px;
font-size:11px;
font-weight:400;
background-color:#fb7142;
-webkit-border-radius:100%;
-moz-border-radius:100%;
border-radius:100%;
color:#FFF;
text-decoration:none;
z-index:2\0/;
}

.kmf-file-multiple label {
position:relative;
height:auto;
border:1px dashed #aaa;
border-radius:4px;
text-align:center;
}

.kmf-file-multiple label:before {
display:inline-block;
content:attr(data-title);
position:relative;
right:0;
left:0;
line-height:22px;
background-color:#FFF;
color:#CCC;
font-size:18px;
font-weight:700;
border:0;
margin:12px;
}

.kmf-file-multiple label.selected span [class*="fa-"] {
background-color: #D1D1D1;
display:inline-block;
left:0;
top:0;
bottom:0;
width:26px;
text-align:center;
font-family:FontAwesome;
font-size:13px;
border:2px solid #bbb;
color:#FFF;
-webkit-transition:all .1s;
-moz-transition:all .1s;
-o-transition:all .1s;
transition:all .1s;
position:relative;
margin-right:4px;
margin-left:2px;
line-height:24px;
}

.kmf-file-multiple label span {
position:relative;
display:block;
height:auto;
width:auto;
max-width:100%;
border-bottom:1px solid #DDD;
text-align:left;
margin:0 4px;
padding:0;
}

.kmf-file-multiple label span:first-child {
margin-top:1px;
}

.kmf-file-multiple label span:last-child {
border-bottom-width:0;
margin-bottom:1px;
}

.kmf-file-multiple label span img {
border:1px solid #d7d7d7;
background-color:#FFF;
background-repeat:no-repeat;
background-position:center;
margin:4px 8px 4px 1px;
padding:2px;
}

.kmf-file-multiple label.selected span:after {
display:inline-block;
white-spkmf:pre;
}

.kmf-file-multiple .remove {
right:-11px;
top:-11px;
border:3px solid #BBB;
border-radius:32px;
background-color:#FFF;
color:red;
}

.kmf-file-multiple label.selected+.remove:hover {
border-color:#f4c0b1;
}

.kmf-file-multiple label span [class*="fa-"] {
position:relative;
display:block;
text-align:center;
height:auto;
line-height:64px;
width:auto;
font-size:64px;
color:#d5d5d5;
background-color:transparent;
margin:4px 0;
}

.kmf-file-multiple label span.large {
text-align:center;
border-bottom:2px solid #222;
margin:0 1px 3px;
}

.kmf-file-multiple label span.large:last-child {
border-bottom-width:0;
margin:0 1px;
}

.kmf-file-multiple label span.large:after {
position:absolute;
top:auto;
bottom:0;
left:0;
right:0;
background-color:#555;
color:#FFF;
opacity:.8;
filter:alpha(opacity=80);
padding:0 4px;
}

.kmf-file-multiple label span.large img {
border-width:0;
margin:0;
padding:0;
}

.kmf-file-input input[type=file].disabled+label,.kmf-file-input input[type=file][disabled]+label,.kmf-file-input input[type=file][readonly]+label {
cursor:not-allowed;
background-color:#EEE;
}

.kmf-file-input input[type=file].disabled+label:hover,.kmf-file-input input[type=file][disabled]+label:hover,.kmf-file-input input[type=file][readonly]+label:hover {
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
border-color:#e3e3e3;
}

.kmf-file-input input[type=file].disabled+label:before,.kmf-file-input input[type=file][disabled]+label:before,.kmf-file-input input[type=file][readonly]+label:before {
background-color:#a1aaaf;
border-color:#EEE;
}

.kmf-file-input input[type=file][readonly]+label {
cursor:default;
}

.kmf-file-multiple input[type=file].disabled+label:hover,.kmf-file-multiple input[type=file][disabled]+label:hover,.kmf-file-multiple input[type=file][readonly]+label:hover {
border-color:#AAA;
}

.kmf-file-input input[type=file]:hover+label {
border-color:#f59942 \0/;
}